<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-8">
        <div class="card bg-light text-dark shadow-lg">
          <div class="card-body p-5">

            <h2 class="card-title text-center mb-4">Task List</h2>

            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="text-muted">
                Add tasks and get things done!
              </div>
            </div>

            <form (ngSubmit)="addTask()" class="mb-4" [formGroup]="form">
              <div class="input-group">
                <input
                    formControlName="taskValue"
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="Add a new task..."
                />
                <button
                    type="submit"
                    [disabled]="form.invalid"
                    class="btn bg-success btn-lg"
                >
                  + Add
                </button>
              </div>
            </form>

            <ul class="list-group">
              @for (task of store.tasks(); track task.id) {
              <li class="list-group-item d-flex justify-content-between align-items-center mb-3 bg-light">
                <div class="form-check">
                  <input
                    class="form-check-input bg-success"
                    type="checkbox"
                    [checked]="task.completed"
                    value=""
                    aria-label="..."
                    (click)="store.moveToCompleted(task)"
                  />
                  <label class="form-check-label {{ task.completed ? 'completed-task' : '' }}">
              {{ task.value }}
              </label>
            </div>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              (click)="store.deleteTask(task)"
            >
              Delete
            </button>
          </li>
              }
            </ul>
          </div>
        </div>

        <div class="card mt-4 bg-success text-light">
          <div class="card-body text-center">
            <h5 class="card-title">Task Summary</h5>
            <p class="card-text">
              {{ store.completedCount() }}/{{ store.notCompletedCount() }}
              ({{ store.percentageCompleted() | number : "1.0-0" }}% completed)
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
